# Игнорировать всё
*

# Но не игнорировать .gitignore (иначе его тоже не будет)
!.gitignore

# Разрешить папки (чтобы Git видел структуру)
!*/

# Разрешить все .py-файлы
!*.py
!*.md

__pycache__/
.vscode/
.venv/