# Игнорировать всё
*

# Но не игнорировать .gitignore (иначе его тоже не будет)
!.gitignore

# Разрешить папки (чтобы Git видел структуру)
!*/

# Разрешить все .py-файлы
!*.py
!*.md
!*.ts
!*.html
!*.json
!*.png
!*.sql
!*.sql

__pycache__/
.vscode/
.venv/

*.js
*.sh
.vscode
Django/Rusakov/storedvd/images/scary-movie-2.png
Django/Rusakov/storedvd/images/scary-movie.png
