{% extends "base.html" %}

{% block content  %}
    <a href="{% url "article_create" %}">Создать статью</a>
    <h1>Список статей</h1>
    {% for article in articles %}
    <a href="{% url "article" article.id %}"><H2>{{ article.name }}</H2></a>    
    <a href="{% url "articles_update" article.id %}">Редактировать</a>  
    <form action="{% url "articles_delete" article.id%}" method='post'>
        {% csrf_token %}
        <input type="submit" value='Удалить'>
    </form>
    <div>{{ article.body|slice:':200' }}</div>
    {% endfor %}
{% endblock content %}