{% extends "base.html" %}
{% load static %}

	{% block title %}<title>Смена пароля завершена успешно</title>{% endblock title %}	

	{% block description %}
		<meta name="description" content="Смена пароля завершена успешною" />
	{% endblock description %}
	{% block keywords %}
		<meta name="keywords" content="пароль, изменен" />
	{% endblock keywords %}	

    {% block content %}
<div id="registration">
	<h2>Пароль изменен</h2>
	<p><a href="{% url "login" %}">Войти на сайт</a></p>
</div>
{% endblock content %}
			