{% extends "base.html" %}
{% load static %}

	{% block title %}<title>Смена пароля</title>{% endblock title %}	

	{% block description %}
		<meta name="description" content="Смена пароля." />
	{% endblock description %}
	{% block keywords %}
		<meta name="keywords" content="пароль, смена" />
	{% endblock keywords %}	

    {% block content %}
{% if validlink %}
<div id="registration">
	<h2>Введите новый пароль</h2>
		<form name="login" action="" method="post">
            {% csrf_token %}
            {{form.as_table}}
            <input type="submit" value="Сменить пароль">
	</form>
</div>
{% endif %}
{% endblock content %}
			