{% extends "base.html" %}
{% load static %}

	{% block title %}<title>Восстанволение пароля</title>{% endblock title %}	

	{% block description %}
		<meta name="description" content="Восстанволение пароля." />
	{% endblock description %}
	{% block keywords %}
		<meta name="keywords" content="пароль, восстановление" />
	{% endblock keywords %}	



{% block content %}
	<div class="registration">
		<!-- container -->
		<div class="container">
		<h2>Восстановление пароля</h2>
			<form name="login" action="" method="post">
				{% csrf_token %}
				{{form.as_table}}
				<input type="submit" value="Восстановить пароль">
		</form>
        </div>
    </div>
{% endblock content %}
			