{% extends "base.html" %}
{% load static %}

	{% block title %}<title>Восстанволение пароля</title>{% endblock title %}	

	{% block description %}
		<meta name="description" content="Восстанволение пароля." />
	{% endblock description %}
	{% block keywords %}
		<meta name="keywords" content="пароль, восстановление" />
	{% endblock keywords %}	
			

{% block content %}
	<div class="registration">
		<!-- container -->
		<div class="container">
		<h2>Пароль отправлен на почту</h2>
		<p>Если вы указали верный e-mail, то инструкция была на него отправлена. Если письма нет то проверьте папку спам.</p>
        </div>
    </div>
{% endblock content %}