			
			
			<div class="col-md-3 sidebar">
				<h5>Поиск по блогу</h5>
				<div class="search">
				   <form action="{% url "search" %}">
					{{search_form.q}}
					<input type="submit" value="">
				  </form>
				</div>
				<div class="sidebar-bottom">
					<h5>Архив</h5>
					<ul>
                        {% for archive_date in  archive_dates %}
                        {% if  archive_date == current_archive_date %}
                        <strong><li><a href={% url "archive" archive_date|date:"Y" archive_date|date:"m" %}>{{archive_date|date:"F Y"}}</a></li></strong>
                        {% else %}
                        <li><a href={% url "archive" archive_date|date:"Y" archive_date|date:"m" %}>{{archive_date|date:"F Y"}}</a></li>                        
                        {% endif %}                        
                        {% endfor %}						
					</ul>
				</div>
				<div class="sidebar-last">
					<h5>Галерея</h5>
                    {% for image in images %}
                    {% cycle '<ul>' '' '' %}
                    <li><a href= {{image.file.url}} ><img src={{image.file.url}} alt="" ></a></li>
                      
                    
                    {% cycle '' '' '</ul>' %}
                    {% endfor %}
				</div>
			</div>