{% extends "base.html" %}


{% block content %}
	<!-- blog -->
	<div class="blog">
		<!-- container -->
		<div class="container">
			{% include "articles_content.html" %}
			{% include "article_right_sidebar.html" %}
			<div class="clearfix"> </div>
		</div>
		<!-- //container -->
	</div>
	<!-- //blog -->
{% endblock content %}

{% block before_content %}
<div id="search_result">
	<h2>Результаты поиска: {{q}}</h2>
    {% if not articles %}
    <p>Ничего не найдено</p>
    {% endif %}
</div>
{% endblock before_content %}

{% block pagination %}
{% if articles.has_other_pages %}
<ul class="my-pagination">
    {% if articles.has_previous %}
    <li><a href="{{request.path}}?q={{q}}&amp;page={{articles.previous_page_number}}">Назад</a></li>
    {% else %}
    <li>Назад</li>
    {% endif %}
    {% for i in articles.paginator.page_range  %}
    {% if articles.number == i %}
    <li class="current">{{i}}</li>
    {% else %}
    <a href="{{request.path}}?q={{q}}&amp;page={{i}}">{{i}}</a>
    {% endif %}
    {% endfor %}
    {% if articles.has_next %}
    <li><a href="{{request.path}}?q={{q}}&amp;page={{articles.next_page_number}}">Вперед</a></li>
    {% else %}
    <li>Вперед</li>
    {% endif %}    
</ul>
{% endif %}
{% endblock pagination %}