<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% block title %}<title>Интернет-магазин</title>{% endblock title %}	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% block description %}
		<meta name="description" content="Интернет-магазин по продаже DVD-дисков." />
	{% endblock description %}
	{% block keywords %}
		<meta name="keywords" content="интернет магазин, интернет магазин dvd, интернет магазин dvd диски" />
	{% endblock keywords %}	
	{% load static %}
	<link rel="stylesheet" href="{% static "styles/main.css" %}" type="text/css" />
	<script type="text/javascript" src="{% static "js/functions.js" %}"></script>
	<link href="{% static "favicon.ico" %}" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
	<div id="container">
		<div id="header">
			<img src="{% static "images/header.png" %}" alt="Шапка" />
			<div>
				<p class="red">8-800-123-45-67</p>
				<p class="blue">Время работы с 09:00 до 21:00<br />без перерыва и выходных</p>
			</div>
			<div class="cart">
				<p class="cart_title">Корзина</p>
				<p class="blue">Текущий заказ</p>
				{% load my_filters %}
				<p>В корзине <span>{{count_in_cart}}</span> {{count_in_cart|diclention_of_products}}<br />на сумму <span>{{sum_in_cart}}</span> руб.</p>
				<a href="{% url "cart" %}">Перейти в корзину</a>
			</div>
		</div>
		<div id="topmenu">
			<ul>
				<li>
					<a href={% url "index" %}>ГЛАВНАЯ</a>
				</li>
				<li>
					<img src={% static "images/topmenu_border.png" %} alt="" />
				</li>
				<li>
					<a href= {% url "delivery" %}>ОПЛАТА И ДОСТАВКА</a>
				</li>
				<li>
					<img src={% static "images/topmenu_border.png" %} alt="" />
				</li>
				<li>
					<a href= {% url "contacts" %} >КОНТАКТЫ</a>
				</li>
			</ul>
			<div id="search">
				<form name="search" action="{% url "search" %}" method="get">
					<table>
						<tr>
							<td class="input_left"></td>
							<td>
								{{search_form.q}}
							</td>
							<td class="input_right"></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
		<div id="content">
			<div id="left">
				<div class="menu">
					<div class="header">
						<h3>Разделы</h3>
					</div>
					<div class="items">
						{% for section in sections %}
							<p>
								<a href={{ section.get_absolute_url }}>{{ section.title }}</a>
							</p>						
						{% endfor %}
						</div>
					<div class="bottom"></div>
				</div>
				<div class="menu">
					<div class="header">
						<h3>Пользователь</h3>
					</div>
					<div class="items">
						{% if user.is_authenticated %}
						  <form action="{% url 'logout' %}" method="post" style="display:inline;">
							{% csrf_token %}
							<input type="hidden" name="next" value="{{ request.path }}">
							<p><button type="submit" class="menu-btn-link">Выход</button></p>
						</form>
						{% else %}
						<p><a href="{% url "login" %}?next={{request.path}}">Вход</a></p>
						{% endif %}
					</div>
					<div class="bottom"></div>
				</div>
			</div>
			<div id="right">
			{% block before_content %}{% endblock before_content %}
			{% block content %}{% endblock content %}
			{% block pagination %}{% endblock pagination %}
			</div>
			<div class="clear"></div>
			<div id="footer">
				<div id="pm">
					<table>
						<tr>
							<td>Способы оплаты:</td>
							<td>
								<img src= {% static "images/pm.png" %} alt="Способы оплаты" />
							</td>
						</tr>
					</table>
				</div>
				<div id="copy">
					<p>Copyright &copy; Site.ru. Все права защищены.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>