{% extends "main.html" %}
{% load static %}

	{% block title %}<title>Оформление заказа</title>{% endblock title %}	

	{% block description %}
		<meta name="description" content="Оформление заказа на покупку фильмов." />
	{% endblock description %}
	{% block keywords %}
		<meta name="keywords" content="заказ, оформление заказа, оформление заказа фильмы" />
	{% endblock keywords %}	

    {% block content %}
<div id="order">
	<h2>Оформление заказа</h2>
		<form name="order" action="" method="post">
            {% csrf_token %}
			{{form.non_field_errors}}
		<table>
			<tr>
				<td class="w120">{{form.name.label}}:</td>
				<td>
					{{form.name}}
				</td>
                <td>{{form.name.errors}}</td>
			</tr>
			<tr>
				<td>{{form.phone.label}}:</td>
				<td>
					{{form.phone}}
				</td>
                <td>{{form.phone.errors}}</td>                
			</tr>
			<tr>
				<td>{{form.email.label}}:</td>
				<td>
					{{form.email}}
				</td>
                <td>{{form.email.errors}}</td>                
			</tr>
			<tr>
				<td>{{form.delivery.label}}:</td>
				<td>
					{{form.delivery}}
				</td>
                <td>{{form.delivery.errors}}</td>                
			</tr>
		</table>
		<table>
			<tr id="address">
				<td>
					<p>{{form.adress.label}}:</p>                 
				{{form.adress}}</td>
                <td>{{form.adress.errors}}</td>    
			</tr>
            <tr>
				<td>
					<p>{{form.notice.label}}:</p>
                    {{form.notice}}
				</td>
                <td>{{form.notice.errors}}</td>    
			</tr>
			<tr>
				<td class="button">
					<input type="hidden" name="func" value="order" />
					<input type="image" src="{% static "images/order_end.png" %}" alt="Закончить оформление заказа"  onmouseover="this.src='{% static 'images/order_end_active.png' %}'" onmouseout="this.src='{% static 'images/order_end.png' %}'"/>
				</td>
			</tr>
		</table>
	</form>
</div>
{% endblock content %}
			