        <td>
            <div class="intro_product">
                <p class="img">
                    <img src={{MEDIA_URL}}{{product.imagr.url}} alt={{product.title}} />
                </p>
                <p class="title">
                    <a href= {% url "product" product.pk %}>Кто я?</a>
                </p>
                <p class="price">{{product.price}}</p>
                <p>
                    <a class="link_cart" href="https://storedvd.ru/functions.php?func=add_cart&amp;id=16"></a>
                </p>
            </div>
        </td>