{% extends "index.html" %}

{% block title %}<title>"Поиск: {{q}}." </title>{% endblock title %}	

{% block description %}
    <meta name="description" content="Поиск: {{q|lower}}." />
{% endblock description %}
{% block keywords %}
    <meta name="keywords" content="{{q}}" />
{% endblock keywords %}	

{% block header %} <h3>Поиск</h3>{% endblock header %}

{% block sort %}{% endblock sort %}

{% block before_content %}
<div id="search_result">
	<h2>Результаты поиска: {{q}}</h2>
    {% if not products %}
    <p>Ничего не найдено</p>
    {% endif %}
</div>
{% endblock before_content %}
{% block main_header %}
    {% if not products %}
    {% else %}
    {{block.super}}
    {% endif %}
{% endblock main_header %}

{% block pagination %}
{% if products.has_other_pages %}
<ul class="pagination">
    {% if products.has_previous %}
    <li><a href="{{request.path}}?q={{q}}&amp;page={{products.previous_page_number}}">Назад</a></li>
    {% else %}
    <li>Назад</li>
    {% endif %}
    {% for i in products.paginator.page_range  %}
    {% if products.number == i %}
    <li class="current">{{i}}</li>
    {% else %}
    <a href="{{request.path}}?q={{q}}&amp;page={{i}}">{{i}}</a>
    {% endif %}
    {% endfor %}
    {% if products.has_next %}
    <li><a href="{{request.path}}?q={{q}}&amp;page={{products.next_page_number}}">Вперед</a></li>
    {% else %}
    <li>Вперед</li>
    {% endif %}    
</ul>
{% endif %}
{% endblock pagination %}

